/* Overall formatting */

* {
    background-color: black;
    text-align: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

/* Heading styling */

h1 {
    font-size: 50px;
}

/* Button styling */

a button {
    background-color: rgb(4, 43, 4);
    border: 0px solid #FFFFFF;
    margin:10px 24px 24px 10px;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 25px;

}

a .main-button {
    padding:34px 120px;
}

a .secondary-button {
    padding:26px 112px;

}

/* Fade in animation*/

.fade-in-text {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }


/* Fade in and out animation */

.fade-out-text {
    animation: fadeOut 3s;
    -webkit-animation: fadeOut 3s;
    -moz-animation: fadeOut 3s;
    -o-animation: fadeOut 3s;
    -ms-animation: fadeOut 3s;
  }
  @keyframes fadeOut {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeOut {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeOut {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeOut {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeOut {
    0% {opacity:0;}
    100% {opacity:1;}
  }


.fade-inout-text {
    animation: fadeinout 3s linear forwards;
    -webkit-animation: fadeinout 3s linear forwards;
    -moz-animation: fadeinout 3s linear forwards;
    -o-animation: fadeinout 3s linear forwards;
    -ms-animation: fadeinout 3s linear forwards;
  }
  @keyframes fadeinout {
    0%, 100% { opacity: 0; }
    50% {opacity:1;}
  }
  
  @-moz-keyframes fadeinout {
    0%, 100% { opacity: 0; }
    50% {opacity:1;}
  }
  
  @-webkit-keyframes fadeinout {
    0%, 100% { opacity: 0; }
    50% {opacity:1;}
  }
  
  @-o-keyframes fadeinout {
    0%, 100% { opacity: 0; }
    50% {opacity:1;}
  }
  
  @-ms-keyframes fadeinout {
    0%, 100% { opacity: 0; }
    50% {opacity:1;}
  }


/* Fade in and out animation */

.fade-in-out {
    animation: fadein 3s ease-in-out 0s 1;
    -moz-animation: fadeinout 3s ease-in-out 0s 1;

    @keyframes fadeinout {
        0%, 100% { opacity: 0; }
        50% {opacity:1;}
      }
    @-moz-keyframes fadeinout {
        0%, 100% { opacity: 0; }
        50% {opacity:1;}
      }
}